{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="hiro_benner_slider h-100 position-relative">
  <div class="item h-100 bg-img" style="background-image: url('{% static 'main/images/home.jpeg' %}');">
    <div class="d-table h-100vh mx-h-1080 w-100">
      <div class="d-table-cell align-middle w-100">
        <!-- <div class="bg_overlay"></div> -->
        <div class="container py-5 position-relative">
          <div class="hiro_contant">
            <h1 class="font-weight-e-bold text-white display-2 my-2">BENGKEL IT</h1>
            <p class="text-white mb-4"> Pelayanan Cepat,Tepat,Dan Terpercaya</p>
            <div class="btn-hiro">
              <a href="" class="btn btn-primary rounded-pill px-4 px-md-5 mr-2 mr-md-4">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of hiro_benner_slider -->
<!-- Our Team -->
<div class="hiro_benner_service position-relative mt-5 mt-md-n5">
  <div class="container">
    <div class="row no-gutters">
      <!-- Service -->
      <div class="col-lg-4 col-md-4 col-12 mb-md-0 mb-3 pb-4 pr-2">
        <div class="card-service" style="background-image: url('{% static 'main/images/Financial-bg.jpg' %}');">
          <div class="card-service-con px-4  py-4">
            <img src="{% static 'main/images/Financial.png' %}" alt="" class="img-fluid">
            <h3 class="text-white font-weight-bold">Pembuatan Software </h3>
            <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias et nesciunt,
              sunt rerum nobis recusandae repudiandae. Repudiandae consequatu</p>
          </div>
          <img src="{% static 'main/images/Financial.png' %}" alt="" class="img-fluid bottom-img">
        </div>
      </div>
      <!--End Service -->
      <!-- Service -->
      <div class="col-lg-4 col-md-4 col-12  mb-md-0 mb-3 pb-4 pr-2">
        <div class="card-service" style="background-image: url('{% static 'main/images/Inventory-bg.jpg' %}');">
          <div class="card-service-con px-4  py-4">
            <img src="{% static 'main/images/Inventory.png' %}" alt="" class="img-fluid">
            <h3 class="text-white font-weight-bold">Service Elektronik</h3>
            <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto fugit
              possimus fuga, perspiciatis perferendis laboriosam culpa dignissimos praesentium facilis.</p>
          </div>
          <img src="{% static 'main/images/Inventory.png' %}" alt="" class="img-fluid bottom-img">
        </div>
      </div>
      <!--End Service -->
      <!-- Service -->
      <div class="col-lg-4 col-md-4 col-12  mb-md-0 mb-3 pb-4">
        <div class="card-service" style="background-image: url('{% static 'main/images/Individuals-bg.jpg' %}');">
          <div class="card-service-con px-4  py-4">
            <img src="{% static 'main/images/Individuals.png' %}" alt="" class="img-fluid">
            <h3 class="text-white font-weight-bold">Design Grafis</h3>
            <p class="text-white mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo dignissimos qui
              blanditiis. Iusto consectetur nostrum rem? In ipsa porro asperiores?</p>
          </div>
          <img src="{% static 'main/images/Individuals.png' %}" alt="" class="img-fluid bottom-img">
        </div>
      </div>
      <!--End Service -->
    </div>
  </div>
</div>
<!-- End of hiro_benner_Service -->
{% endblock content %}